.custom-dropdown {
  background-color: rgb(242, 240, 237);
    border: none !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important; 
  }
    .report-heading {
    margin: 0 0 0 80px;
  }
  .custom-dialog-container {
  border-radius: 12px;
  background-color: #ffffff;
  padding: 20px;
}
/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.dropdown-toggle::after {
  display: none !important;
}
