/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


::ng-deep .dialog-right .mat-dialog-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 400px;
  max-height: 100%;
  padding: 0;
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.3);
}
