/* Hide spinner arrows in Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}


.bg-light {
  background-color: #c1d3e4!important;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
box-sizing: border-box;
  gap: 20px;
}
.form-box {
  flex: 1 1 30%;
  min-width: 300px;
  border: 2px solid #f0ecec;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}
td {
  padding: 4px 5px;
}
input[type="text"],
input[type="date"],
input[type="number"],

input[type="password"] {
  border-radius: 8px;
  padding: 6px 10px;  
  border: 1px solid #ccc; 
  outline: none;
  width: 100%;
}
thead th {
  padding: 8px 12px;
  background-color: rgb(235, 223, 223);
}
.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-box {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.confirm-buttons button {
  margin: 0 10px;
  min-width: 60px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  text-align: center;
  font-family: Arial, sans-serif;
 
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}


.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.confirm-buttons button {
  margin: 0 10px;
}



/* //rec */

.custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-modal {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  text-align: center;
}

.custom-modal button {
  margin-top: 15px;
  padding: 6px 12px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.custom-modal button:hover {
  background-color: #0056b3;
}
/* .product-name-input:focus {
   font-weight: bold;
  outline: none; 
border: 2px solid #0e0e0e;  
} */

tr td input:focus{
  border: 2px solid #0e0e0e;
}