table {
  border-collapse: collapse;
}

th, td {
  padding: 6px;
  text-align: center;
}

thead th {
  font-weight: bold;
  font-size: 12px;
}
.table-light tr th{
  background-color: rgb(175, 231, 242);
}

.table-light tr td{
  background-color: rgb(231, 245, 247);
}